<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dgvc.placement.mbafresherrecruitment">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.dgvc.placement.mbafresherrecruitment.Splash"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.dgvc.placement.mbafresherrecruitment.newprofile"
            android:label=" "
            android:screenOrientation="portrait"
            android:hardwareAccelerated="true"
            />
        <activity
            android:name="com.dgvc.placement.mbafresherrecruitment.Login"
            android:label="@string/title_activity_login"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.dgvc.placement.mbafresherrecruitment.Studentlist"
            android:label="@string/title_activity_studentlist"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:hardwareAccelerated="true"/>
        <activity
            android:name="com.dgvc.placement.mbafresherrecruitment.Institutionaloptions"
            android:label="@string/title_activity_institutionaloptions"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.dgvc.placement.mbafresherrecruitment.Editlist"
            android:label="@string/title_activity_editlist"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:hardwareAccelerated="true"/>
        <activity
            android:name="com.dgvc.placement.mbafresherrecruitment.SelectedStudents"
            android:label="@string/title_activity_selected_students"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:hardwareAccelerated="true"/>
        <activity
            android:name="com.dgvc.placement.mbafresherrecruitment.Shortlistedstudents"
            android:label="@string/title_activity_shortlistedstudents"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:hardwareAccelerated="true"/>
        <activity
            android:name="com.dgvc.placement.mbafresherrecruitment.Waitlistedstudents"
            android:label="@string/title_activity_waitlistedstudents"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:hardwareAccelerated="true"/>
        <activity
            android:name="com.dgvc.placement.mbafresherrecruitment.Showprofiledetails"
            android:label=" "
            android:screenOrientation="portrait"
            android:theme="@style/task"
            />
        <activity android:name="com.dgvc.placement.mbafresherrecruitment.Contactus"
            android:label=" "></activity>
    </application>

</manifest>